<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/css/images/greenatwork-logo.png">
    <script src="/js/script.js"></script> 
</head>
<body>
<div class="left-payroll admin-leftdash">
    <div class="admin-leftdash-top">
        <h2>Time-In/Out Logs</h2>
        <div class="dropdown">
            <p>Date:</p>
            <input type="date" id="get-date-id">
        </div>     
    </div>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Time-In</th>
                <th>Time-Out</th>
                <th>Total Hours</th>
            </tr>
            {{#each emp_sum}}
            {{#if (eq @root.d_week "Monday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Mon_Time_In}}</td>
                <td>{{this.Mon_Time_Out}}</td>
                <td>{{this.Mon_Hours}}</td>
            </tr>
            {{/if}}
            {{#if (eq @root.d_week "Tuesday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Tue_Time_In}}</td>
                <td>{{this.Tue_Time_Out}}</td>
                <td>{{this.Tue_Hours}}</td>
            </tr>
            {{/if}}
            {{#if (eq @root.d_week "Wdnesday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Wed_Time_In}}</td>
                <td>{{this.Wed_Time_Out}}</td>
                <td>{{this.Wed_Hours}}</td>
            </tr>
            {{/if}}
            {{#if (eq @root.d_week "Thursday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Thu_Time_In}}</td>
                <td>{{this.Thu_Time_Out}}</td>
                <td>{{this.Thu_Hours}}</td>
            </tr>
            {{/if}}
            {{#if (eq @root.d_week "Friday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Fri_Time_In}}</td>
                <td>{{this.Fri_Time_Out}}</td>
                <td>{{this.Fri_Hours}}</td>
            </tr>
            {{/if}}
            {{#if (eq @root.d_week "Saturday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Sat_Time_In}}</td>
                <td>{{this.Sat_Time_Out}}</td>
                <td>{{this.Sat_Hours}}</td>
            </tr>
            {{/if}}
            {{#if (eq @root.d_week "Sunday")}}
            <tr>
                <td>{{this.Email}}</td>
                <td>{{this.Sun_Time_In}}</td>
                <td>{{this.Sun_Time_Out}}</td>
                <td>{{this.Sun_Hours}}</td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
</div>
<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Admin Dashboard</h1>
        <p>As of <span id="date">Monday, January 1, 2024</span></p> 
        <p id="time">00:00:00</p>
    </div>
    <div class="ad-dash-spacer"></div>
    <div class="admin-rightdash-mid">
        <button type="button" class="ad-rightdash-btn" id="Ti-To-logs-id" onclick="window.location.href = 'admin_dashboard';">
            <i class="fi fi-rr-calendar-clock"></i>
            <p>Time-in/out Logs</p>
        </button>
        <button type="button" class="ad-rightdash-btn" id="emp-mgm-id" onclick="window.location.href = 'admin_empman_payroll';">
            <i class="fi fi-rr-employee-man"></i>
            <p>Employee Management</p>
        </button>
        <button type="button" class="ad-rightdash-btn" onclick="window.location.href = 'register';">
            <i class="fi fi-rr-users-alt"></i>
            <p>Add/Delete User</p>
        </button>
        <button type="button" class="ad-rightdash-btn"  onclick="window.location.href = 'admin_notifs';">
        <i class="fi fi-rr-bell"></i>
        <p>Notifications</p>
        </button>
    </div>
    <div class="admin-rightdash-bottom">
        <h2><a href="/logout">Log-Out</a></h2>
    </div>
</div>
<script src="/js/display-employee-summary.js"></script>
</body>
</html>