<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/css/images/greenatwork-logo.png">
    <script src="/js/script.js"></script> 
</head>
<body>
<div class="left-payroll admin-leftdash">
    <div class="admin-leftdash-top">
        <h2>Employee Management</h2>
        <div class="empman-header">
            <div class="dropdown-page">
                <select id="emp-mgm-page-id">
                    <option>Weekly Payroll</option>
                    <option>Employee Information</option>
                </select>
            </div>
            <div class="dropdown">
                <label>Employee:</label>
                <select id="emp-dropdown-id">
                    <option id="current-emp-option">Select</option>
                    {{#each emp_total}}
                    <option>{{this.Email}}</option>
                    {{/each}}
                </select>
            </div>  
        </div>
        <div class="empman-midhead">
            <div class="dropdown" id="select-week-dropdown-id">
                <label>Select Week:</label>
                <select id="emp-dropdown-week-id" focusIndex="-1">
                    <option id="current-week-option">Select Week</option>
                    <option>Current Week</option>
                    <option>Last Week</option>
                    <option>2 Weeks Ago</option>
                </select>
            </div>
            <div class="num-input">
                <p>Pay Per Hour: ₱{{emp_wpay.Weekly_Hourly_Rate}}</p>
                <form id="PPH-form-id">
                <input type="number" id="pph-id">  
                <input type="hidden" name="payroll-id" value="{{emp_wpay._id}}">
                <button type="button" id="payroll-pph-changes-btn">SUBMIT</button>
                </form>
            </div>
        </div>   
    </div>
    <div id="weekly-payroll-container-id">
        <table id="weekly-payroll-table-id">
            <tr>
                <th></th>
                <th>Time-In</th>
                <th>Time-Out</th>
                <th>Total Time</th>
                <th>Total Valid Hours</th>
                <th>Total Valid Minutes</th>
                <th>Total Hour Rate</th>
                <th>Total Minute Rate</th>
                <th>Total Day Pay</th>
            </tr>
            <tr><!-- Placeholder info -->
                <td>Monday</td>
                <td>{{emp_wpay.Mon_Time_In}}</td>
                <td>{{emp_wpay.Mon_Time_Out}}</td>
                <td>{{emp_wpay.Mon_Hours}}:{{emp_wpay.Mon_Minutes}}</td>
                <td>{{emp_wpay.Mon_Hours}}</td>
                <td>{{emp_wpay.Mon_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[1]}}</td>
                <td>₱ {{Total_Minute_Rate.[1]}}</td>
                <td>₱ {{emp_wpay.Mon_Total_Pay}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>{{emp_wpay.Tue_Time_In}}</td>
                <td>{{emp_wpay.Tue_Time_Out}}</td>
                <td>{{emp_wpay.Tue_Hours}}:{{emp_wpay.Tue_Minutes}}</td>
                <td>{{emp_wpay.Tue_Hours}}</td>
                <td>{{emp_wpay.Tue_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[2]}}</td>
                <td>₱ {{Total_Minute_Rate.[2]}}</td>
                <td>₱ {{emp_wpay.Tue_Total_Pay}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>{{emp_wpay.Wed_Time_In}}</td>
                <td>{{emp_wpay.Wed_Time_Out}}</td>
                <td>{{emp_wpay.Wed_Hours}}:{{emp_wpay.Wed_Minutes}}</td>
                <td>{{emp_wpay.Wed_Hours}}</td>
                <td>{{emp_wpay.Wed_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[3]}}</td>
                <td>₱ {{Total_Minute_Rate.[3]}}</td>
                <td>₱ {{emp_wpay.Wed_Total_Pay}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>{{emp_wpay.Thu_Time_In}}</td>
                <td>{{emp_wpay.Thu_Time_Out}}</td>
                <td>{{emp_wpay.Thu_Hours}}:{{emp_wpay.Thu_Minutes}}</td>
                <td>{{emp_wpay.Thu_Hours}}</td>
                <td>{{emp_wpay.Thu_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[4]}}</td>
                <td>₱ {{Total_Minute_Rate.[4]}}</td>
                <td>₱ {{emp_wpay.Thu_Total_Pay}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>{{emp_wpay.Fri_Time_In}}</td>
                <td>{{emp_wpay.Fri_Time_Out}}</td>
                <td>{{emp_wpay.Fri_Hours}}:{{emp_wpay.Fri_Minutes}}</td>
                <td>{{emp_wpay.Fri_Hours}}</td>
                <td>{{emp_wpay.Fri_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[5]}}</td>
                <td>₱ {{Total_Minute_Rate.[5]}}</td>
                <td>₱ {{emp_wpay.Fri_Total_Pay}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>{{emp_wpay.Sat_Time_In}}</td>
                <td>{{emp_wpay.Sat_Time_Out}}</td>
                <td>{{emp_wpay.Sat_Hours}}:{{emp_wpay.Sat_Minutes}}</td>
                <td>{{emp_wpay.Sat_Hours}}</td>
                <td>{{emp_wpay.Sat_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[6]}}</td>
                <td>₱ {{Total_Minute_Rate.[6]}}</td>
                <td>₱ {{emp_wpay.Sat_Total_Pay}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>{{emp_wpay.Sun_Time_In}}</td>
                <td>{{emp_wpay.Sun_Time_Out}}</td>
                <td>{{emp_wpay.Sun_Hours}}:{{emp_wpay.Sun_Minutes}}</td>
                <td>{{emp_wpay.Sun_Hours}}</td>
                <td>{{emp_wpay.Sun_Minutes}}</td>
                <td>₱ {{Total_Hour_Rate.[0]}}</td>
                <td>₱ {{Total_Minute_Rate.[0]}}</td>
                <td>₱ {{emp_wpay.Sun_Total_Pay}}</td>
            </tr>
        </table>
    </div>
    <div class="empman-btm">
        <div class="num-input-1">
            <p>Additional: ₱{{emp_wpay.Weekly_Total_Additional}}</p>
            <form id="additional-form-id">
                <input type="number" id="add-id"> 
                <input type="hidden" name="payroll-id" value="{{emp_wpay._id}}">
                <button type="button" id="payroll-additional-changes-btn">SUBMIT</button>
            </form>
            <p>Advance: ₱{{emp_wpay.Weekly_Total_Advance}}</p>
            <form id="advance-form-id">
                <input type="number" id="adv-id"> 
                <input type="hidden" name="payroll-id" value="{{emp_wpay._id}}">
                <button type="button" id="payroll-advance-changes-btn">SUBMIT</button>
            </form>
            <p>Deduction: ₱{{emp_wpay.Weekly_Total_Deduction}}</p>
            <form id="deduction-form-id">
                <input type="number" id="ded-id">
                <input type="hidden" name="payroll-id" value="{{emp_wpay._id}}">
                <button type="button" id="payroll-deduction-changes-btn">SUBMIT</button>
            </form>
        </div>
        <div>
            <h1>Total Weekly Pay: ₱{{emp_wpay.Weekly_Total_Pay}}</h1>
        </div>
    </div>
</div>
<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Admin Dashboard</h1>
        <p>As of <span id="date">Monday, January 1, 2024</span></p> 
        <p id="time">00:00:00</p>
    </div>
    <div class="ad-dash-spacer"></div>
    <div class="admin-rightdash-mid">
        <button type="button" class="ad-rightdash-btn" id="Ti-To-logs-id" onclick="window.location.href = 'admin_dashboard';">
            <i class="fi fi-rr-calendar-clock"></i>
            <p>Time-in/out Logs</p>
        </button>
        <button type="button" class="ad-rightdash-btn" id="emp-mgm-id" onclick="window.location.href = 'admin_empman_payroll';">
            <i class="fi fi-rr-employee-man"></i>
            <p>Employee Management</p>
        </button>
        <button type="button" class="ad-rightdash-btn" onclick="window.location.href = 'register';">
            <i class="fi fi-rr-users-alt"></i>
            <p>Add/Delete User</p>
        </button>
        <button type="button" class="ad-rightdash-btn"  onclick="window.location.href = 'admin_notifs';">
        <i class="fi fi-rr-bell"></i>
        <p>Notifications</p>
        </button>
    </div>
    <div class="admin-rightdash-bottom">
        <h2><a href="/logout">Log-Out</a></h2>
    </div>
</div>
<script src="/js/weekly-payroll.js"></script>
</body>
</html>