<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/public/css/images/greenatwork-logo.png">
    <script src="/public/js/script.js"></script> 
</head>
<body>
<div class="left-payroll admin-leftdash">
    <div class="admin-leftdash-top">
        <h2>Employee Dashboard</h2>
        <div class="empman-header">
        </div>
        <div class="empman-midhead">
            <div class="dropdown sel-week">
                <p>Select Week:</p>
                <select id="emp-dropdown-week-id">
                    <option>Week 0</option>
                    <option>Week 1</option>
                    <option>Week 2</option>
                    <option>Week 3</option>
                </select>
            </div>
            <div class="num-input">
                <p>Pay Per Hour: ₱<span id="pph-id"></span></p>
                <p>Pay Per Minute: ₱<span id="ppm-id"></span></p>
            </div>
        </div>   
    </div>
    <div>
        <table>
            <tr>
                <th></th>
                <th>Time-In</th>
                <th>Time-Out</th>
                <th>Total Time</th>
                <th>Total Valid Hours</th>
                <th>Total Valid Minutes</th>
                <th>Total Hour Rate</th>
                <th>Total Minute Rate</th>
            </tr>
           <tr><!-- Placeholder info -->
                <td>Monday</td>
                <td>{{emp_wpay.Mon_Time_In}}</td>
                <td>{{emp_wpay.Mon_Time_Out}}</td>
                <td>{{emp_wpay.Mon_Hours}}:{{emp_wpay.Mon_Minutes}}</td>
                <td>{{emp_wpay.Mon_Hours}}</td>
                <td>{{emp_wpay.Mon_Minutes}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>{{emp_wpay.Tue_Time_In}}</td>
                <td>{{emp_wpay.Tue_Time_Out}}</td>
                <td>{{emp_wpay.Tue_Hours}}:{{emp_wpay.Tue_Minutes}}</td>
                <td>{{emp_wpay.Tue_Hours}}</td>
                <td>{{emp_wpay.Tue_Minutes}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>{{emp_wpay.Wed_Time_In}}</td>
                <td>{{emp_wpay.Wed_Time_Out}}</td>
                <td>{{emp_wpay.Wed_Hours}}:{{emp_wpay.Wed_Minutes}}</td>
                <td>{{emp_wpay.Wed_Hours}}</td>
                <td>{{emp_wpay.Wed_Minutes}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>{{emp_wpay.Thu_Time_In}}</td>
                <td>{{emp_wpay.Thu_Time_Out}}</td>
                <td>{{emp_wpay.Thu_Hours}}:{{emp_wpay.Thu_Minutes}}</td>
                <td>{{emp_wpay.Thu_Hours}}</td>
                <td>{{emp_wpay.Thu_Minutes}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>{{emp_wpay.Fri_Time_In}}</td>
                <td>{{emp_wpay.Fri_Time_Out}}</td>
                <td>{{emp_wpay.Fri_Hours}}:{{emp_wpay.Fri_Minutes}}</td>
                <td>{{emp_wpay.Fri_Hours}}</td>
                <td>{{emp_wpay.Fri_Minutes}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>{{emp_wpay.Sat_Time_In}}</td>
                <td>{{emp_wpay.Sat_Time_Out}}</td>
                <td>{{emp_wpay.Sat_Hours}}:{{emp_wpay.Sat_Minutes}}</td>
                <td>{{emp_wpay.Sat_Hours}}</td>
                <td>{{emp_wpay.Sat_Minutes}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="empman-btm">
            <div class="num-input-1">
            <h3>Additional: ₱<span id="add-id"></span></h3>
            <h3>Advance: ₱<span id="adv-id"></span></h3>      
            <h3>Deduction: ₱<span id="ded-id"></span></h3>
        </div>
        <div>
            <h3>Total Calculated Rate:</h3>
            <h1>Total Pay:{{emp_wpay.Weekly_Total_Pay}}</h1>
        </div>
    </div>
</div>
<div class = "popup" id="popup-1">
        
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="closeBtn()">&times;</div>
            <h1>Please Enter OTP</h1>
            <form id="otp-form" onsubmit="submitOtp(event)">
                <div class="otp-form">
                    <input type="text" name="otp_value" placeholder="****" id="otp_value" class="log-text">
                <span class="resend-otp" onclick="generateOtp()"><p>Resend OTP</p></span>
                </div>
                <div class="otp-button"><button type="submit" id="otp-button-send">Enter</button></div>
            </form>
        </div>
    </div>
<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Hello, <span>{{email}}</span>!</h1>
        <p>As of <span id="date">Monday, January 1, 2024</span></p> 
        <p id="time">00:00:00</p>
    </div>
   <div class="ad-dash-spacer"></div>
    <div class="admin-rightdash-mid">
        <button type="button" class="ad-rightdash-btn" onclick="togglePopup()">
            <i class="fi fi-rr-calendar-clock"></i>
            <p>Time Log</p>
        </button>
        <br><br>
        <button type="button" class="ad-rightdash-btn">
            <i class="fi fi-rr-employee-man-alt"></i>            
            <p>Employee Dashboard</p>
        </button>
    </div>
    <div class="admin-rightdash-bottom">
        <br><br>
        <h2><a href="/logout">Log-Out</a></h2>
    </div>
</div>
<script src="/js/display-employee-payroll.js"></script>
<script src="/js/otp-verify.js"></script>
</body>
</html>